.alarm {
  width: 0.97em;
  height: 1em;
  fill: #fff;
}
.arrow {
  width: 1em;
  height: 1em;
  fill: #fc635e;
}
.brain {
  width: 0.88em;
  height: 1em;
  fill: #fff;
}
.facebook {
  width: 1em;
  height: 1em;
  fill: #565656;
}
.graph {
  width: 1.1em;
  height: 1em;
  fill: #fff;
}
.idea {
  width: 0.76em;
  height: 1em;
  fill: #fff;
}
.kiwi {
  width: 1.22em;
  height: 1em;
  fill: #C6C6C6;
}
.like {
  width: 1.1em;
  height: 1em;
  fill: #fff;
}
.linkedin {
  width: 1em;
  height: 1em;
  fill: #565656;
}
.monitor {
  width: 1.08em;
  height: 1em;
  fill: #fff;
}
.mouse {
  width: 1.47em;
  height: 1em;
  fill: #fff;
}
.quote {
  width: 1.17em;
  height: 1em;
  fill: #fff;
}
.radio {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.rocket {
  width: 0.85em;
  height: 1em;
  fill: #fff;
}
.twitter {
  width: 1em;
  height: 1em;
  fill: #565656;
}